# python bindings for pvxs plus pvgw
# TODO pinned to avoid pvagw name resolution issue in 4.2.1
p4p==4.2.0
# kubernetes python client
kubernetes
# kubernetes fails with more recent urllib3 versions due to cert verification issues
urllib3<2.4.0